@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#f0f5fc, #e6edf8, #ecf3fd, #e3f1fc);
    font-family: 'Poppins', sans-serif;
}

#container div {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 1% auto;
    gap: 20px;
}

#container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 2px #2B418F;
    margin: 30px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.301);
}

#container img:hover {
    border: dotted #2B418F;
    transition: 0.5s;
}

#container h1 {
    font-size: 1em;
    padding-bottom: 30px;
    color: #070c18;
    font-weight: normal;
}

#container a {
    color: #ffffff;
    background-color: #2B418F;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.363);
    height: 50px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 7px;
    border-bottom: 5px solid #132161;
}

#container a:hover {
    background-color: #344b9e;
    color: #ffffff;
    transition: 0.2s ease;
    border-bottom: 1px solid #132161;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    margin: 50px auto 25px;
}

i {
    font-size: 1.5em;
    color: #4d64b9;
}

footer p{
    font-weight: bold;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    color: #070c18;
}

@media (min-width: 1024px) {
    #container div{
        width: 40vw;
    }
}